<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>性别</td>
        <td>创建时间</td>
        <td>更新时间</td>
    </tr>
    </thead>
    <tbody>
    {% for user in student_queryset %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.sex }}</td>
            <td>{{ user.create_time }}</td>
            <td>{{ user.update_time }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>